{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row divider green">
	<div class="col-md-12"></div>
</div>
<div class="row banner main collection">
	<div class="col-md-11 col-md-offset-1 padding-none">
		<h1>Delete Album</h1>
	</div>
</div>
<h2>Are you sure you want to delete {{album.name}}?</h2>

<form action="#" method = 'post' style="display: inline;">
	<button type="submit" class="btn btn-default delete" id="submit" type="submit">
	<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</button>
	<!-- attach the CSRF cookie that is set to a random value -->
	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
</form>
<a href = '{{url_for('indexAlbums', collection_id=collection.id)}}'>
	<button class="btn btn-default delete">
	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel</button>
</a>
{% endblock %}
