{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Edit {{collection.name}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="{{ url_for('editCollection',collection_id = collection.id)}}" method = "post" style="display: inline;">
				<div class="form-group" style="display: inline;">
					<label for="name">Name:</label>
					<input type ="text" class="form-control" name="name" value="{{collection.name}}">
					<div class="padding-bottom"></div>
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
				</div>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
			</form>
			<a href = '{{url_for('indexAlbums', collection_id=collection.id)}}'>
				<button class="btn btn-default delete">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel</button>
			</a>
		</div>
	</div>
{% endblock %}