{% extends "main.html" %}
{% block atom_feed %}
	<link href="collections.xml" type="application/atom+xml" rel="alternate" title="Collections ATOM Feed" />
{% endblock %}
{% block content %}
{% include "header.html" %}
	<div class="row divider blue">
		<div class="col-sm-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-sm-1"></div>
		<div class="col-sm-11 padding-none">
			<h1>Music Collections</h1>
		</div>
	</div>
	<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li><strong>{{ message }}</strong></li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
	</div>
		<div class="row">
		<div class="col-sm-12 text-right">
			<p>Available Endpoints: <a href="{{url_for('collectionsJSON')}}">JSON</a> or
			<a href="{{url_for('collectionsATOM')}}">Atom</a></p>
		</div>
	</div>
	<div class="row padding-top padding-bottom"></div>
	{% for collection in collections %}
		<a href = "{{url_for('indexAlbums', collection_id = collection.id)}}">
			<div class="row">
				<div class="col-sm-1"></div>
					<div class="col-sm-10 collection-list">
						<h3>{{collection.name}}</h3>
					</div>
				<div class="col-sm-1"></div>
			</div>
		</a>
	{% endfor %}
{% endblock %}